#lorem-ipsum-generator-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-number-container,
.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-number-container label,
.checkbox-container label {
    font-weight: 500;
}

.input-number-container input,
.checkbox-container input {
    margin-left: 10px;
}

#generate-lorem-ipsum-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#generate-lorem-ipsum-btn:hover {
    background-color: #0056b3;
}

#generated-lorem-ipsum-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#lorem-ipsum-copy-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#lorem-ipsum-copy-btn:hover {
    background-color: #218838;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.popup-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    color: #000;
    pointer-events: auto;
}

#generated-lorem-ipsum {
    margin-top: 20px;
    line-height: 1.5;
}
